<div class="form-group mb-2">
  <%= order_details_form.label :Menu, style: "display: block" %>
  <%= order_details_form.collection_select :menu_id, Menu.all, :id, :name %>
</div>

<div class="form-group mb-2">
  <%= order_details_form.label :Quantity, style: "display: block" %>
  <%= order_details_form.text_field :quantity, class:"form-control", placeholder: "Quantity" %>
</div>




  