<div class="content p-4 justify-content-center">
  
  <p style="color: green" class="text-center"><%= notice %></p>
  
  <h1 class="mx-auto pb-3 text-center">Orders</h1>

  <div class="row text-center mb-4">
    <div class="col text-center">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newModal">
       Add Order
      </button>
    </div>
  </div>
  
  <div id="menus">
      <%= render 'orders/order' %>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="newModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLabel">New Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render "form", order: @order %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
  
</div>
